.loginForm_container{
  padding: 30px 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  width: 368px;

}

.loginForm_wrapper{
  align-items: start;
}

.loginForm_label{
  display: flex;
  flex-direction: column;

  text-align: start;

  margin-bottom: 10px;
}

.navLink_goBack{
border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navLink_goBack:hover {
  border-color: #646cff;
}

.navLink_goBack:focus,
.navLink_goBack:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  a:hover {
    color: #1a1a1a;
  }
  .navLink_goBack {
    background-color: #f9f9f9;
    color: #1a1a1a;;
  }
}